* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 1);
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
  padding: 0 8px;
  color: #FFFFFF;
}

/* Grey out inactive workspace buttons */
#workspaces button:not(.active):not(.focused):not(.urgent):not(:hover) {
  color: #888888;
}

#workspaces button.active {
  color: #FFFFFF;
}

#workspaces button.focused {
  color: #FFFFFF;
}

#workspaces button.urgent {
  background: rgba(255, 200, 0, 0.35);
  color: #FF0000;
}

#workspaces button:hover {
  background: #000000;
  color: #FFFFFF;
}
