* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    color: #FFFFFF;
    background-color: #121212;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
  padding: 0 8px;
  color: #FFFFFF;
}

/* Grey out inactive workspace buttons */
#workspaces button:not(.active):not(.focused):not(.urgent):not(:hover) {
  color: #888888;
}

#workspaces button.active {
  color: #FFFFFF;
}

#workspaces button.focused {
  color: #FFFFFF;
}

#workspaces button.urgent {
  background: rgba(255, 200, 0, 0.35);
  color: #FF0000;
}

#workspaces button:hover {
  background: #000000;
  color: #FFFFFF;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
     margin-right: 0;
}

/* This does not work for the left modules namely workspaces and taskbar */
/* .module:hover { */
/*     background-color: #888888; */
/*     color: #121212; */
/* } */
